body {
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #008080;
    margin: 40px;
}

.tab-container {
    margin: 0px auto;
    width: 515px;
    background-color: #fff; /* Змінений колір фону */
    border-radius: 10px; /* Додано округлення кутів */
}

.tab-container h4 {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    margin-bottom: 10px;
    font-size: 40px;
    color: #000000;
    font-weight: 400;
    text-align: center;
}

.tabContentContainer {
    padding: 20px;
}

ul.tabs {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

ul.tabs li {
    flex: 1;
}

ul.tabs li a {
    background-color: #4a90e2; /* Змінений колір вкладок */
    color: #fff; /* Змінений колір тексту вкладок */
    padding: 12px 0; /* Змінений padding */
    text-decoration: none;
    font-size: 30px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    border-bottom: 1px solid #4a90e2; /* Змінений колір підкреслення */
    display: block;
    border-radius: 10px; /* Додано округлення кутів */
}

ul.tabs li a:hover {
    background-color: #3584c8; /* Змінений колір при наведенні */
}

ul.tabs li a.active {
    background-color: #fff;
    color: #000000;
    border-bottom: 1px solid #000000;
}

.tab-content {
    background-color: #fff;
    margin-top: 9px;
    padding: 10px;
    border-radius: 10px; /* Додано округлення кутів */
}

.tab-content:not(:first-child) {
    display: none;
}

ul.tabs {
    margin: 0;
    padding: 0;
    margin-bottom: 6px;
}

.tab-content ul {
    margin: 0;
    padding: 0 20px 0 20px;
}

.tab-content ul li {
    list-style: none;
    display: block;
    border-bottom: 1px solid #d6dde0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tab-content ul li,
.tab-content p {
    font-size: 20px;
}

.tab-content p {
    padding-left: 20px;
}

.tab-content ul li:last-child {
    border-bottom: none;
}

.tabs li a.active img {
    transform: scale(1.5); /* Enlarge the image */
    transition: transform 0.3s ease; /* Smooth transition */
}